.addImgBtn {
  background: none;
  border: none;
  margin-right: 75px;
  padding-bottom: 20px;
  margin: 0;
  
  
}


.addImg {
	width: 50px;
	height: 50px;
  /* display: flex;
  justify-content: end; */
  
}

